<!-- =========================
CONTACT
========================= -->

<section id="contact">

<div class="container contact-wrap">

<div class="section-title">

Contact

</div>

<h2>

Let's build<br>
something better.

</h2>

<p>

프로젝트 문의 및 협업은 언제든지 환영합니다.

</p>

<div class="contact-info">

    <div>
        <span>Email</span>
        <a href="mailto:uxxxu.studio@gmail.com">
            uxxxu.studio@gmail.com
        </a>
    </div>

    <div>
        <span>Kakao</span>
        <a href="https://pf.kakao.com/_sgDBX/chat" target="_blank">
           Chat on Kakao →
        </a>
    </div>

</div>

</div>

</section>

